html {
  height: 100%; }

nav {
  position: absolute;
  left: -580px;
  top: 20px;
  color: white;
  height: 50px;
  width: 600px;
  line-height: 50px;
  border: 2px solid blue;
  border-left: none;
  font: 20px Arial;
  border-radius: 0px 25px 25px 0px;
  display: flex;
  flex-flow: row;
  transition: left .5s; }

nav.extended {
  left: 0px; }

nav > ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}